{{#each items.actionList as |role|}}
    <li class="li-horizontal">
		{{#link-to (to-lowercase (concat  items.name "." role.actionName))}}
			{{role.actionName}}
		{{/link-to}}
	</li>
{{/each}}


{{yield}}