<ul class="nav-sideBar">
	{{#each Nav.program as |program|}}
		<ul>
			<p>{{program.programName}}</p>
			{{#each program.semester as |semester|}}
				<ul>
					<p>{{semester.semesterName}}</p>
					{{#each semester.course as |course|}}
						<ul>
							<li>
								{{course.courseName}}
							</li>			
						</ul>
					{{/each}}					
				</ul>
			{{/each}}
		</ul>
	{{/each}}
</ul>
{{yield}}
