<div id="header-div">
<header>
	<img class="MTechLogo" src="assets/logo/MTechShieldLogo.png" alt="Mtech Logo">
	<h1>StOut</h1>
</header>

{{! Nav component given user}}
{{nav-primary items=model.roles}}
</div>

{{outlet}}

<div id="footer">
	<div id="home-button">
		{{#link-to "home"}}Home{{/link-to}}
	</div>
	<img class="MTechLogo" src="assets/logo/MTechShieldLogo.png" alt="Mtech Logo">
	<h1>StOut</h1>
</div>
