
{{!#if data.selectedRole}} 
    {{! nav-secondary items=data.selectedRole.data}}
{{!/if }}


<div class="data-content">
    <nav id="nav-tertiary">
    {{!Nav Component given first two navs}}
    </nav>
    {{!Data, form, or actions component}}
</div>