{{! Display user related navigation info, roles, or other various non-main content features.}}

<div id="admin" class="info">
  Admin information that tells you what Admins do.
</div>
<div id="program-coordinator" class="info">
  Program Coordinator that tells you what Program Coordinators do.
</div>
<div id="faculty" class="info">
  Faculty information that tells you what Faculty do.
</div>
<div id="observer" class="info">
  Observer information that tells you what Observer do.
</div>
{{outlet}}
