<button {{action 'addOffering'}}>
	Add
</button>

	{{#test-form data=model as |data|}}
    <p>{{data.courseId}}</p>
    <button {{action 'submitRecord' data}}> Submit </button>
  {{/test-form}}
{{outlet}}
